# Python
# Exclude __init__.py files if needed
__init__.py
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Workspace folder
.workspace/
workspace/
**/workspace/
**/.workspace/

# Miscellaneous
*.log
.tmp/

# Log files
logs/

# Config files
config/config.toml
sensitive-files.txt

# Additional output and workspace directories
output/
workspace/

# Backup files
*.bak
*.gho
*.ori
*.orig
*.tmp

# System files
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.swp
*.swo
*~
.~lock.*#

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Environment files
.env
.venv

# Package management
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/